/Lab01/obj/Debug/net8.0
/Lab01/.vs/Lab01/DesignTimeBuild
ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/121a72c6-4cd8-417d-b8bc-7775524b44ae.vsidx
/Lab02/obj/Debug
/lab03/bin/Debug
*.json
/Lab-04/obj/Debug
/Lab-04/obj/Debug
/Lab-04/obj/Debug
/Delegate/obj/Debug
/Delegate/bin/Debug/net8.0
/Lab-04/obj/Debug/net8.0
/Lab-04/obj/Debug/net8.0
/Lab-04/obj/Debug/net8.0
/Lab-04/obj/Debug/net8.0
/ThiGiuaKi/bin/Debug
/ThiGiuaKi/obj/Debug/net8.0
/Lab09/bin/Debug/net8.0
/TcpChatServer/obj/Debug/net8.0
/TcpChatClient/obj/Debug/net8.0
/Lab09/obj/Debug/net8.0
/Lab10/obj/Debug/net8.0
/Lab10/bin/Debug/net8.0
/Lab11/bin/Debug/net8.0
/Lab11/obj/Debug/net8.0
/LAB12_FINAL/obj/Debug/net8.0
/LAB12_FINAL/bin/Debug/net8.0
